body {
  background-color: #bfd2bf;
  /* Use a system font, if none are available use an available sans-sarif   font */
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  margin: 0;
  /* height: 100vh;
  display: flex;
  flex-direction: column; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.mainBox {
  background-color: #646f4b;
  border: 1px solid;
  padding: 35px 100px;
  border: none;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button {
  background-color: #646f4b;
  color: #bfd2bf;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  margin-top: 35px;
  height: auto;
  width: auto;
  padding: 5px 20px;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 10px 300px rgba(0, 0, 0, 0.6), 0 10px 9px rgba(0, 0, 0, 0.22);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #bfd2bf;
  color: #646f4b;
}

.mainBox h1 {
  text-align: center;
  font-size: 50px;
  color: #bfd2bf;
}

.mainBox h2 {
  color: #bfd2bf;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
  color: #bfd2bf;
}

.board div {
  border: 3px solid #bfd2bf;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}
